html,
body,
h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
}

html,
body {
  background-color: #5f311a;
}

.main_container {
  display: flex;
  min-height: 100vh;
}

#navbar {
  position: fixed;
  width: 100%;
  background-color: rgb(87, 175, 226);
  z-index: 50;
}

#title {
  font-size: 2em;
  color: #fff;
  text-align: center;
  padding: 10px 0px;
}

#searchTools {
  padding: 10px;
}

#searchType {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  color: #fff;
  margin: 0px 10px;
}

.searchForm {
}

.searchBtn {
  flex-grow: 1;
  text-align: center;
  background-color: rgb(146, 108, 77);
  border: 5px outset rgb(133, 98, 69);
  padding: 5px;
  margin: 2px;
  cursor: pointer;
}

.searchBtn:hover {
  background-color: rgb(201, 156, 119);
  border: 5px outset rgb(184, 143, 110);
}

.searchBtn:active,
.active {
  background-color: rgb(112, 79, 51);
  border: 5px inset rgb(156, 120, 90);
}

.active:hover {
  background-color: rgb(65, 45, 28);
  border: 5px inset rgb(139, 105, 77);
}

#cartes_container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-grow: 0;
  background: url(../images/img/backgroundWood3.jpg);
  background-repeat: repeat-y;
  background-size: 100%;
  padding-bottom: 10px;
}

#cartes_container div {
  display: flex;
  align-self: flex-start;
  justify-content: center;
}

#cartes_container img {
  max-width: 200px;
  height: auto;
}

.cardImage {
  cursor: pointer;
}

.wrapper {
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.popup {
  align-items: center;
  border-radius: 10%;
  background-color: rgba(0, 0, 0, 0.75);
  max-width: 1000px;
}

#tooltip {
  display: flex;
  padding-right: 20px;
}

#tooltip img {
  max-height: 500px;
}

#allData {
  color: #fff;
  max-width: 200px;
}

.infoTitle {
  font-weight: bold;
  font-size: 1.5em;
  text-decoration: underline;
}

.info {
  font-size: 1.2em;
}
.searchButton {
  border: solid 2px rgb(116, 93, 72);
  background: rgb(116, 93, 72);
  height: 35px;
  width: 110px;
  border-radius: 5px;
  color: #fff;
}
.searchButton:hover {
  background: rgb(201, 156, 119);
  cursor: pointer;
}

.floatingButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: url(../images/icons/Loupe.svg);
  background-size: 50%;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
}
