html,
body,
h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
}

html,
body {
  background-color: #5f311a;
}

.main_container {
  display: flex;
  min-height: 100vh;  
  background: url(../images/img/backgroundWood3.jpg);
}

#navbar {
  position: fixed;
  width: 100%;
  background-color: rgb(87, 175, 226);
  z-index: 50;
}

#title {
  font-size: 2em;
  color: #fff;
  text-align: center;
  padding: 10px 0px;
}

#searchTools {
  padding: 10px;
}
.containerAdvancedSearch{
  width: 32%;
  float: right;
  padding: 8px;
}
.labelAdancedSearch{
  display: none;
  color: #fff;
  font-size: 28px;
}
/* Switch recherche*/
 /* The switch - the box around the slider */
 .switchRecherche {
  position: relative;
  display: none;
  width: 60px;
  height: 34px;
  float: right;
}

/* Hide default HTML checkbox */
.switchRecherche input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 

/* Fin switch recherche */

@media (max-width: 1000px) {
  #cartes_container{
    margin-top: 30% !important;
  }
  #searchTools {
    padding: 10px;
    width: 100%;
    margin-top: 0;
    float: left;
    margin-bottom: 180%;
    bottom: auto;
    top: 4%;
    position: absolute;
  }
  .switchRecherche{
    display: inline-block;
  }

  #searchType{
    display:none !important;
  }
  .labelAdancedSearch{
    display: contents;
  }
  .searchByName{
    width: 100%;
    height: 50px;
    border-radius: 40px;
    font-size: 32px;
    padding: 10px;
  }
  .containerInputSearchByName{
    width: 80%;
    margin: auto;
  }
  .floatingButton{
    /* display:none !important; */
  }
  #submitNameForm{
    /* position: fixed;
    bottom: 30px;
    right: 20px; */
  }
  #advForm{
    width: 20%;
    position: fixed;
    margin-left: 15%;
    margin-top: 7%;
  }
  .listSelect{
    width: 700px;
    font-size: 70px;
    text-align: center;
    padding: 4px;
  }
  optgroup { 
    font-size:15px; 
  }
  #cartes_container img {
    max-width: 460px !important;
  }
}

#searchType {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  color: #fff;
  margin: 0px 10px;
}

.searchForm {
}

.searchBtn {
  flex-grow: 1;
  text-align: center;
  background-color: rgb(146, 108, 77);
  border: 5px outset rgb(133, 98, 69);
  padding: 5px;
  margin: 2px;
  cursor: pointer;
}

.searchBtn:hover {
  background-color: rgb(201, 156, 119);
  border: 5px outset rgb(184, 143, 110);
}

.searchBtn:active,
.active {
  background-color: rgb(112, 79, 51);
  border: 5px inset rgb(156, 120, 90);
}

.active:hover {
  background-color: rgb(65, 45, 28);
  border: 5px inset rgb(139, 105, 77);
}

#cartes_container {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  flex-grow: 0;
  background-repeat: repeat-y;
  background-size: 100%;
  padding-bottom: 10px;
  margin-top: 55px;
  margin-left: auto;
  margin-right: auto;
}

#cartes_container div {
  display: flex;
  align-self: flex-start;
  justify-content: center;
}

#cartes_container img {
  max-width: 200px;
  height: auto;
}

.cardImage {
  cursor: pointer;
}

.wrapper {
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.popup {
  align-items: center;
  border-radius: 10%;
  background-color: rgba(0, 0, 0, 0.75);
  max-width: 1000px;
}

#tooltip {
  display: flex;
  padding-right: 20px;
}

#tooltip img {
  max-height: 500px;
}

#allData {
  color: #fff;
  max-width: 200px;
}

.infoTitle {
  font-weight: bold;
  font-size: 1.5em;
  text-decoration: underline;
}

.info {
  font-size: 1.2em;
}
.searchButton {
  border: solid 2px rgb(116, 93, 72);
  background: rgb(116, 93, 72);
  height: 35px;
  width: 110px;
  border-radius: 5px;
  color: #fff;
}
.searchButton:hover {
  background: rgb(201, 156, 119);
  cursor: pointer;
}

.floatingButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: url(../images/icons/Loupe.svg);
  background-size: 50%;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
}
